.basketList {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  width: 30rem;
  max-width: 95%;

  box-shadow: -1px 1px 15px 4px #26a69a, 2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);

  animation: show 500ms ease-in-out;
}
